composer*

# Files provided by composer.
vendor*
vendor/*
vendor/*/*

# Ignore the login directory.
logins

# Ignore support_specific dir.
zd_jira*
zd_jira/*

# Ignore the vendor directory that composer uses.
vendor

# No data files.
*.bash
*.csv
*.html
*.txt
*.yaml
