composer*

# Files provided by composer.
vendor*
vendor/*
vendor/*/*
=======
# Ignore the login directory.
logins
# Ignore the vendor directory that composer uses.
vendor

# No data files.
*.csv
*.yaml
*.txt
*.bash
